*{
    font-family: monospace;
}

/* selector etiqueta */

h1 { 
  color: red;  
}

/* identifica un elemento en todo el html */

#primero {
    color: blue;
}

/* crea un conjunto de estilos */

.color-green {
    color: chartreuse;
    font-size: 80px;
    background-color: blueviolet;
    padding: 50px;
    border: solid 5px;
}

p{
    color: blue;
    background-color: orange;
    font-size: 20px;
    font-weight: bolder;
    line-height: 50px;
}

a {
border: solid 5px red;
margin: 50px;
}



